In [308]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
276,tt0448011,50000000,155446362,Knowing,Nicolas Cage|Rose Byrne|Chandler Canterbury|Be...,Alex Proyas,Knowing is everything...,A teacher opens a time capsule that has been d...,121,Action|Adventure|Drama|Mystery|Science Fiction,Summit Entertainment|Mystery Clock Cinema|Esca...,3/19/2009,5.7,2009
1729,tt0442933,70000000,195735876,Beowulf,Ray Winstone|Angelina Jolie|Anthony Hopkins|Ro...,Robert Zemeckis,Evil breeds pain.,"6th-century Scandinavian warrior, Beowulf emba...",115,Animation|Fantasy,Paramount Pictures|Shangri-La Entertainment|Im...,11/5/2007,5.4,2007
1266,tt2002718,12000000,15008161,Machete Kills,Danny Trejo|Mel Gibson|Amber Heard|Michelle Ro...,Robert Rodriguez,Trained to kill. Left for dead. Back for more.,Ex-Federale agent Machete is recruited by the ...,107,Action|Crime|Thriller,Open Road Films|Overnight Films|AR Films|Aldam...,9/12/2013,5.2,2013
1471,tt0427229,50000000,88715192,Failure to Launch,Matthew McConaughey|Sarah Jessica Parker|Zooey...,Tom Dey,"To leave the nest, some men just need a little...","Tripp, an attractive man in his thirties, is s...",97,Comedy,Paramount Pictures|Scott Rudin Productions|Fai...,3/10/2006,5.6,2006
1164,tt0316465,32000000,52277485,Radio,Cuba Gooding Jr.|Ed Harris|Alfre Woodard|S. Ep...,Mike Tollin,His courage made them champions.,"Football coach Harold Jones befriends Radio, a...",109,Drama,Revolution Studios|Tollin/Robbins Productions,10/24/2003,7.1,2003

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов
# тут добавляеи предобработки

In [41]:
# создаём новый столбец profit для использования в дальнейших задачах 
data['profit'] = data['revenue']-data['budget']
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1801,tt0170016,123000000,345141403,How the Grinch Stole Christmas,Jim Carrey|Taylor Momsen|Jeffrey Tambor|Christ...,Ron Howard,He puts the mean in green.,Inside a snowflake exists the magical land of ...,104,Family|Comedy|Fantasy,Imagine Entertainment|Universal Pictures,11/17/2000,6.1,2000,222141403
1278,tt1235522,56000000,19701164,Broken City,Mark Wahlberg|Russell Crowe|Catherine Zeta-Jon...,Allen Hughes,Proof Can Be a Powerful Weapon.,"In a broken city rife with injustice, ex-cop B...",109,Thriller|Crime|Drama,Regency Enterprises|Inferno International|1984...,1/18/2013,5.7,2013,-36298836
1224,tt0481499,135000000,585178928,The Croods,Nicolas Cage|Emma Stone|Ryan Reynolds|Catherin...,Kirk De Micco|Chris Sanders,Meet the first modern family.,The Croods is a prehistoric comedy adventure t...,98,Adventure|Animation|Comedy|Family|Fantasy,DreamWorks Animation,3/20/2013,6.8,2013,450178928
292,tt1148204,20000000,41596251,Orphan,Vera Farmiga|Peter Sarsgaard|Isabelle Fuhrman|...,Jaume Collet-Serra,Can you keep a secret?,A married couple with a rocky past adopt 9-yea...,123,Horror|Thriller|Mystery,Dark Castle Entertainment|Studio Babelsberg St...,7/24/2009,6.5,2009,21596251
1350,tt0398375,70000000,88933562,Rumor Has It...,Jennifer Aniston|Kevin Costner|Shirley MacLain...,Rob Reiner,Based on a true rumor.,Sarah Huttinger's return home with her fiance ...,97,Comedy,Village Roadshow Pictures|Section Eight|Spring...,12/23/2005,5.2,2005,18933562

In [280]:
# создаём функцию, которая позволит разделять элементы датафрейма
def separation(x):
    return x.split('|')

In [362]:
# создаём функцию для вывода месяца
def month(n):
    return n[0]  # оставляем только первый элемент из преобразованного в список даты

In [373]:
# создаём функцию генерации комбинаций пар
def combinations_of_pairs(y):
    return list(combinations(y, 2))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [35]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, дабавляем комментарий со значком "+"
# +

In [281]:
# для решения используем копии датафрейма, переменным для удобства будут присваиваться номера заданий 
data_1 = data.copy()
# выводим строку, где можно найти данные фильма с максимальным бюджетом
data_1[(data_1.budget == data_1.budget.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [20]:
# второй вариант выводит значение столбца с названием, соответсвующего фильму с max бюджетом
data_1 = data.copy()
data_1[(data_1.budget == data_1.budget.max())].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [36]:
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [21]:
data_2 = data.copy()
data_2[(data_2.runtime == data_2.runtime.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [22]:
data_3 = data.copy()
data_3[(data_3.runtime == data_3.runtime.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [37]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# +

# 4. Какова средняя длительность фильмов?

In [31]:
data_4 = data.copy()
round(data_4.runtime.mean())

110

ВАРИАНТ 2

In [32]:
# второй вариант без округления
data_4 = data.copy()
data_4.runtime.mean()

109.6585494970884

In [38]:
answers['4'] = '2. 110'
# +

# 5. Каково медианное значение длительности фильмов?

In [33]:
data_5 = data.copy()
round(data_5.runtime.median())

107

ВАРИАНТ 2

In [34]:
# второй вариант без округления
data_5 = data.copy()
data_5.runtime.median()

107.0

In [39]:
answers['5'] = '1. 107'
# +

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [140]:
# код получения столбца profit вынесен в Предобработку
data_6 = data.copy()
data_6[(data_6.profit == data_6.profit.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

ВАРИАНТ 2

In [141]:
data_6 = data.copy()
data_6[(data_6.profit == data_6.profit.max())].original_title

239    Avatar
Name: original_title, dtype: object

In [80]:
answers['6'] = '5. Avatar (tt0499549)'
# +

# 7. Какой фильм самый убыточный?

In [142]:
data_7 = data.copy()
data_7[(data_7.profit == data_7.profit.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

ВАРИАНТ 2

In [144]:
data_7 = data.copy()
data_7[(data_7.profit == data_7.profit.min())].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [81]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
# +

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [145]:
data_8 = data.copy()
data_8[(data_8.revenue > data_8.budget)].imdb_id.count()

1478

In [82]:
answers['8'] = '1. 1478'
# +

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [147]:
data_9 = data.copy()
# фильтруем данные, оставляя только 2008 год выпуска
movies_2008 = data_9[(data_9.release_year == 2008)]
movies_2008[(movies_2008.profit == movies_2008.profit.max())].original_title

599    The Dark Knight
Name: original_title, dtype: object

ВАРИАНТ 2

In [148]:
# второй вариант с выведением всей строки
data_9 = data.copy()
movies_2008 = data_9[(data_9.release_year == 2008)]
movies_2008[(movies_2008.profit == movies_2008.profit.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [83]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# +

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [149]:
data_10 = data.copy()
# используем два условия для фильтрации данных, создавая период с 2012 по 2014
movie_losses = data_10[(data_10.release_year <= 2014)&(data_10.release_year >= 2012)]
movie_losses[(movie_losses.profit == movie_losses.profit.min())].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [84]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# +

# 11. Какого жанра фильмов больше всего?

In [244]:
# вариант с использоваеием str.cat из библиотеки pandas Series
data_11 = data.copy()
# объединим все жанры с таким же разделителем "|", который используется в столбце для перечисления разных жанров
data_temp = data_11['genres'].str.cat(sep='|') 
data_temp = pd.Series(data_temp.split('|')) # преобразуем данные в series для удобства подсчета
data_temp.value_counts().head(5) # группируем и выводим 5 наиболее встречаемых жанров

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

ВАРИАНТ 2

In [341]:
# это способ без использования str.cat, только с помощью преобразвания всех упомянутых жанров в список
data_11 = data.copy()
# создаем переменную, в которую запишем столбец жанров с использованием функции разделения
data_temp = data_11.genres.apply(separation) 
new_list = sum(data_temp,[]) # разглаживаем список, помещаем результат в new_list
# с помощью встроенной в collections функции Counter выводим количества элементов
Counter(new_list).most_common(5)

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415)]

ВАРИАНТ 3

In [240]:
# этот вариант тоже без использования str.cat, но обратывается в виде series, применяя value_counts
data_11 = data.copy()
# создаем переменную, в которую запишем столбец жанров с использованием функции разделения
data_temp = data_11.genres.apply(separation)
new_list = sum(data_temp,[]) # разглаживаем список, помещаем результат в new_list
new_list = pd.Series(new_list) # создаем series из нового списка
new_list.value_counts().head(5) # считаем количество каждого элемента, сортируем и выводим 5 наиболее встречаемых

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

In [223]:
answers['11'] = '3. Drama'
# +

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [239]:
data_12 = data.copy()
data_profitable = data_12[(data_12.profit > 0)] # оставляем только строки, где прибыль больше 0
data_profitable = data_profitable['genres'].str.cat(sep='|') #используюм 1 метод из прошлого задания
data_profitable = pd.Series(data_profitable.split('|'))
data_profitable.value_counts().head(5) # выводим жанры, чаще всего приносящие прибыль

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
dtype: int64

In [224]:
answers['12'] = '1. Drama'
# +

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [218]:
data_13 = data.copy()
data_13['director'] = data_13.director.str.split('|') # разбиваем режиссеров в строках на элементы списка
data_13 = data_13.explode('director') # разъединяем строки-списки на несколько строк
# выводим 5 режиссёров с самыми большими кассовыми сборами
data_13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(5)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

In [225]:
answers['13'] = '5. Peter Jackson'
# +

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [238]:
data_14 = data.copy()
data_14 = data_14[data_14.genres.str.contains("Action", na=False)] # оставляем только строки с Action
data_14['director'] = data_14.director.str.split('|') # повторяем алгоритм предыдушего задания разбивки элементов
data_14 = data_14.explode('director')
data_14.director.value_counts(ascending=False).head(5) # считаем и сортируем количество фильмов на режиссера

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
Name: director, dtype: int64

In [226]:
answers['14'] = '3. Robert Rodriguez' 
# +

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [212]:
data_15 = data.copy()
data_15 = data_15[(data_15.release_year == 2012)] # создаём фильтр года выпуска
data_15['cast'] = data_15['cast'].str.split('|')# повторяем алгоритм предыдуших заданий разбивки элементов
data_15 = data_15.explode('cast')
# выводим 5 актеров, участвовавших в съёмках самых кассовых фильмов 2012 года
data_15.groupby(['cast'])['revenue'].sum().sort_values(ascending = False).head(5)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
Name: revenue, dtype: int64

In [227]:
answers['15'] = '3. Chris Hemsworth' 
# +

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [237]:
data_16 = data.copy()
data_16 = data_16[data_16.budget > data_16.budget.mean()]
data_16['cast'] = data_16['cast'].str.split('|')# повторяем алгоритм предыдуших заданий разбивки элементов
data_16 = data_16.explode('cast')
data_16.cast.value_counts(ascending=False).head(5)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Samuel L. Jackson    15
Name: cast, dtype: int64

In [228]:
answers['16'] = '3. Matt Damon' 
# +

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [236]:
data_17 = data.copy()
data_17['cast'] = data_17['cast'].str.split('|')# повторяем алгоритм предыдуших заданий разбивки элементов
data_17 = data_17.explode('cast')
data_17 = data_17[data_17.cast == 'Nicolas Cage']
data_17['genres'] = data_17['genres'].str.split('|')# и еще раз для жанров повторяем алгоритм разбивки 
data_17 = data_17.explode('genres')
data_17.genres.value_counts(ascending=False).head(5)

Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
Name: genres, dtype: int64

In [229]:
answers['17'] = '2. Action' 
# +

# 18. Самый убыточный фильм от Paramount Pictures

In [232]:
data_18 = data.copy()
# создаем фильтр, чтоб остались только фильмы кинокомпании Paramount
data_18 = data_18[data_18.production_companies.str.contains("Paramount Pictures", na=False)]
data_18[data_18.profit == data_18.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [274]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' 
# +

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [235]:
data_19 = data.copy()
# группируем данные по году выпуска и суммируем кассовый сбор каждого года
data_19.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(5)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

In [275]:
answers['19'] = '5. 2015' 
# +

# 20. Какой самый прибыльный год для студии Warner Bros?

In [251]:
data_20 = data.copy()
# создаем фильтр, чтоб остались только фильмы кинокомпании Warner Bros
data_20 = data_20[data_20.production_companies.str.contains("Warner Bros", na=False)]
data_20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(5)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

In [276]:
answers['20'] = '1. 2014' 
# +

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [367]:
data_21 = data.copy()
data_21['release_date'] = data_21.release_date.str.split('/') # разделяем дату на строки-списки
data_21['month'] = data_21['release_date'].apply(month) # используем функцию из предобработки
data_21.month.value_counts(ascending=False)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [277]:
answers['21'] = '4. Сентябрь' 
# +

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [363]:
# первый вариант с заданием трех условий фильтрации датафрейма
data_22 = data.copy()
data_22['release_date'] = data_22.release_date.str.split('/') # создаем строку-список из даты 
data_22['month'] = data_22['release_date'].apply(month) # используем функцию из предобработки
len(data_22[(data_22.month == '6')|(data_22.month == '7')|(data_22.month == '8')])

450

ВАРИАНТ 2

In [365]:
# второй вариант в виде поиска в списке выбранных месяцев
data_22 = data.copy()
data_22['release_date'] = data_22.release_date.str.split('/') # тот же алгортим, что в 1 варианте
data_22['month'] = data_22['release_date'].apply(month)
# используем функцию .isin, задаём список летних месяцев
len(data_22.loc[data_22.month.isin(['6','7','8'])])

450

In [278]:
answers['22'] = '2. 450' 
# +

# 23. Для какого режиссера зима – самое продуктивное время года?

In [361]:
data_23 = data.copy()
data_23['release_date'] = data_23.release_date.str.split('/')
data_23['month'] = data_23['release_date'].apply(month) # используем функцию из предобработки
data_23 = data_23.loc[data_22.month.isin(['12','1','2'])]
data_23['director'] = data_23.director.str.split('|') # повторяем алгоритм из предыдущих заданий
data_23 = data_23.explode('director')
data_23.director.value_counts(ascending=False).head(5) # считаем и сортируем количество фильмов на режиссера

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Martin Scorsese      4
Adam Shankman        4
Name: director, dtype: int64

In [346]:
answers['23'] = '5. Peter Jackson' 
# +

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [291]:
data_24 = data.copy()
# добавляем новую колонку с количеством знаков названия, используя анонимную функцию
data_24['length_title'] = data_24['original_title'].apply(lambda i: len(i))
data_24[data_24.length_title == data_24.length_title.max()].production_companies

1448    Twentieth Century Fox Film Corporation|Four By...
Name: production_companies, dtype: object

ВАРИАНТ 2

In [294]:
data_24 = data.copy()
# добавляем новую колонку с количеством знаков названия, используя функцию len
data_24['length_title'] = data_24['original_title'].apply(len)
data_24[data_24.length_title == data_24.length_title.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,length_title
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,6.4,2006,243572744,83

In [347]:
answers['24'] = '5. Four By Two Productions' 
# +

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [299]:
data_25 = data.copy()
# добавляем новую колонку с количеством знаков описания, используя функцию len
data_25['length_overview'] = data_25['overview'].apply(len)
data_25['production_companies'] = data_25.production_companies.str.split('|') # повторяем алгоритм из предыдущих заданий
data_25 = data_25.explode('production_companies')
data_25.groupby(['production_companies'])['length_overview'].mean().sort_values(ascending=False).head(5)

production_companies
Midnight Picture Show               1000.0
Room 9 Entertainment                 964.0
Brookwell-McNamara Entertainment     936.0
Lions Gate Family Entertainment      909.0
Crest Animation Productions          909.0
Name: length_overview, dtype: float64

In [348]:
answers['25'] = '3. Midnight Picture Show' 
# +

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [307]:
data_26 = data.copy()
# используем quanitile для определения 1 процента лучших фильмов
border = np.quantile(data_26.vote_average, 0.99) 
data_26[data_26.vote_average >= border].original_title.sort_values(ascending=True)

1191                                     12 Years a Slave
316                                              3 Idiots
124                                            Big Hero 6
1213                                   Dallas Buyers Club
1563                Eternal Sunshine of the Spotless Mind
128                                             Gone Girl
119                               Guardians of the Galaxy
1188                                                  Her
370                                             Inception
9                                              Inside Out
118                                          Interstellar
1800                                              Memento
283                                            Mr. Nobody
1205                                            Prisoners
34                                                   Room
28                                              Spotlight
599                                       The Dark Knight
177                                The Fault in Our Stars
138                              The Grand Budapest Hotel
125                                    The Imitation Game
496     The Lord of the Rings: The Fellowship of the Ring
1081        The Lord of the Rings: The Return of the King
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1444                                         The Prestige
155                              The Theory of Everything
1183                              The Wolf of Wall Street
1688                                  There Will Be Blood
Name: original_title, dtype: object

In [349]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' 
# +

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [370]:
data_27 = data.copy()
data_27['cast'] = data_27['cast'].apply(separation) # используем созданную функцию для создания строк-списков
# применяем функцию из предобработки для генерации возможных пар в строках-списках
data_27['pairs'] = data_27['cast'].apply(combinations_of_pairs)
# помещаем в переменную new_list разглаженный список
new_list = sum(data_27['pairs'],[])
# используем функцию Counter для подсчета наиболее частых элементов списка (т.е. пар)
Counter(new_list).most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

In [350]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' 
# +

# Submission

In [371]:
# в конце можно посмотреть ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [372]:
# и убедиться что ни чего не пропустил
len(answers)

27