 ## Парсинг Часть 2

In [ ]:
# Загружаем библиотеки
import numpy as np # linear algebra
import pandas as pd
import os
import requests  
from bs4 import BeautifulSoup
import time
import json
import re

In [10]:
data = pd.read_csv('links.csv',header=None)
all_links = data[0].tolist()

In [24]:
# Создаем функцию для парсинга даных
def collecting_features(all_links, step, max_step):
    
    # Создаем пустой датафрейм для последующих записей
    df = pd.DataFrame()
        

    count = 0
    for link in all_links[step:max_step]: 
      
        # Создаем пустой датафрейм для цикла
        cycle_df = pd.DataFrame()
        
        # Загружаем страницу по ссылке
        try:
            res = requests.get(link)
            page = BeautifulSoup(res.content.decode('utf-8'), 'html.parser')
        except:
            print(f'Error get link={link}, {res.status_code}')
        
        # Загружаем поочередно страницу с блоком JSON
        try:
            json_data = json.loads(page.find('script', 
                                     type="application/ld+json").string)
        except:
            json_data = None
    
        #  Загружаем блок, где находится ссылка на модель
        try:
            url_block = page.find('a', class_='Link SpoilerLink CardCatalogLink SpoilerLink_type_default')
            brand_model = url_block.get('href')
            model_response = requests.get(brand_model)
            model_page = BeautifulSoup(
                model_response.content.decode('utf-8'), 'html.parser')
        except:
            print(f'Error get link={link}, {res.status_code}')
    
        # Загружаем часть JSON по ссылке модели
        try:
            json_data_model= json.loads(model_page.find('script', 
                            type="application/json", 
                            id='initial-state').string)
        except:
            json_data_model = None    
        
        # Находим перечень опций данной модели по ссылке
        try:
            options_dict = json_data_model['state']['compare']['selected'][0]['options']
            options_list = [key for key in list(options_dict.keys()) if options_dict[key] == 1]
        except:
            options_list = []
        
        # Выводим блок оснащения
        try:
            json_data_equipment = json.loads(
                page.find('script', type="application/json", id='initial-state').string)
        except:
            json_data_equipment = None    
        
    # Собираем необходимые признаки согласно перечню в тестовой выборке
        try:
            bodyType = json_data['bodyType']
        except:
            bodyType = None
        try:
            brand = json_data['brand']
        except:
            brand = None    
        try:
            color = json_data['color']
        except:
            color = None    
        try:
            complectation_dict = options_list
        except:
            complectation_dict = None    
        try:
            description = json_data['description']
        except:
            description = None    
        try:
            engineDisplacement = json_data['vehicleEngine']['engineDisplacement']
        except:
            engineDisplacement = None    
        try:
            enginePower = json_data['vehicleEngine']['enginePower']
        except:
            enginePower = None    
        try:    
            equipment_dict = json_data_equipment['card']['vehicle_info']['equipment']
        except:
            equipment_dict = None    
        try:
            fuelType = json_data['fuelType']
        except:
            fuelType = None    
        try:
            mileage = page.find('li', 
                        class_='CardInfoRow CardInfoRow_kmAge').find_all(
            'span')[-1].text.replace(u'\xa0', u' ')
        except:
            mileage = None    
        try:
            modelDate = json_data['modelDate']
        except:
            modelDate = None    
        try:
            model_info = json_data_equipment['card']['vehicle_info']['model_info']
        except:
            model_info = None    
        try:
            model_name = page.find_all(
                'div', class_='InfoPopup InfoPopup_theme_plain InfoPopup_withChildren BreadcrumbsPopup')[1].text
        except:
            model_name = None    
        try:
            name = json_data['name']
        except:
            name = None
        try:
            numberOfDoors = json_data['numberOfDoors']
        except:
            numberOfDoors = None
        try:
            parsing_unixtime = int(time.time())
        except:
            parsing_unixtime = None    
        try:
            productionDate = json_data['productionDate']
        except:
            productionDate = None    
        try:
            sell_id = page.find(
            'div', class_='CardHead__infoItem CardHead__id').text[2:]
        except:
            sell_id = None    
        try:
            super_gen = json.loads(
                page.find('div', id="sale-data-attributes").get('data-bem'))
        except:
            super_gen = None
        try:
            vehicleConfiguration = json_data['vehicleConfiguration']
        except:
            vehicleConfiguration = None    
        try:
            vehicleTransmission = json_data['vehicleTransmission']
        except:
            vehicleTransmission = None    
        try:
            vendor = json_data_equipment['card']['vehicle_info']['vendor']
        except:
            vendor = None    
        try:
            Владельцы = page.find('li', class_='CardInfoRow CardInfoRow_ownersCount').find_all(
                'span')[-1].text.replace(u'\xa0', u' ')
        except:
            Владельцы = None    
        
        try:
            Владение = page.find(
                'li', class_='CardInfoRow CardInfoRow_owningTime').find_all('span')[-1].text
        except:
            Владение = None    
        try:
            ПТС = page.find('li', class_='CardInfoRow CardInfoRow_pts').find_all(
                'span')[-1].text
        except:
            ПТС = None    
        try:
            Привод = page.find('li', class_='CardInfoRow CardInfoRow_drive').find_all(
                'span')[-1].text
        except:
            Привод = None    
        try:
            Руль = page.find('li', class_='CardInfoRow CardInfoRow_wheel').find_all(
                'span')[-1].text
        except:
            Руль = None
        try:
            Состояние = page.find(
                'li', class_='CardInfoRow CardInfoRow_state').find_all('span')[-1].text
        except:
            Состояние = None
        try:
            Таможня = page.find(
                'li', class_='CardInfoRow CardInfoRow_customs').find_all('span')[-1].text
        except:
            Таможня = None
        
        # Запишем дату объявления    
        try:
            advert_date = page.find(
                'div', class_='CardHead__infoItem CardHead__creationDate').text
        except:
            advert_date = None
        
        # Цена предложения. Отсутствующий параметр в тесте - нужно предсказать
        try:
            price = json_data['offers']['price']
        except:
            price = None
        
        
        # Создадим строку из словаря признаков и их значений:
        row = {'bodyType': bodyType,
               'brand': brand,
               'color': color,
               'complectation_dict': complectation_dict, 
               'description': description,
               'engineDisplacement': engineDisplacement, 
               'enginePower': enginePower,
               'equipment_dict': equipment_dict, 
               'fuelType': fuelType, 
               'mileage': mileage, 
               'modelDate': modelDate,
               'model_info': model_info,
               'model_name': model_name,
               'name': name, 
               'numberOfDoors': numberOfDoors, 
               'parsing_unixtime': parsing_unixtime,  
               'productionDate': productionDate,
               'sell_id': sell_id, 
               'super_gen': super_gen,
               'vehicleConfiguration': vehicleConfiguration,
               'vehicleTransmission': vehicleTransmission,
               'vendor': vendor,
               'Владельцы': Владельцы,
               'Владение': Владение,
               'ПТС': ПТС, 
               'Привод': Привод, 
               'Руль': Руль,
               'Состояние': Состояние, 
               'Таможня': Таможня,  
               'advert_date': advert_date,
               'price': price
              }
        
        df = pd.concat([df, pd.DataFrame([row])])

        # увеличиваем смещение на количество строк выгрузки
        time.sleep(0.05)
        step += 1
        count += 1
        if step % 100 == 0:
            time.sleep(2)
            print(f'Downloaded from line: {step} counts at the current cycle {count}')
        else:
            continue
    return df

In [35]:
basic_df = pd.DataFrame()

In [31]:
data_1 = collecting_features(all_links, 0, 1000)
data_1.to_csv('data_1.csv', index=False)

Downloaded from line: 100 counts at the current cycle 100
Downloaded from line: 200 counts at the current cycle 200
Downloaded from line: 300 counts at the current cycle 300
Downloaded from line: 400 counts at the current cycle 400
Downloaded from line: 500 counts at the current cycle 500
Downloaded from line: 600 counts at the current cycle 600
Downloaded from line: 700 counts at the current cycle 700
Downloaded from line: 800 counts at the current cycle 800
Downloaded from line: 900 counts at the current cycle 900
Downloaded from line: 1000 counts at the current cycle 1000

In [36]:
basic_df = pd.concat([basic_df, data_1])

In [17]:
data_2 = collecting_features(all_links, 2000, 3000)

Downloaded from line: 2100 counts at the current cycle 100
Downloaded from line: 2200 counts at the current cycle 200
Downloaded from line: 2300 counts at the current cycle 300
Downloaded from line: 2400 counts at the current cycle 400
Downloaded from line: 2500 counts at the current cycle 500
Downloaded from line: 2600 counts at the current cycle 600
Downloaded from line: 2700 counts at the current cycle 700
Downloaded from line: 2800 counts at the current cycle 800
Downloaded from line: 2900 counts at the current cycle 900
Downloaded from line: 3000 counts at the current cycle 1000

In [20]:
data_2.to_csv('data_2.csv', index=False)

In [37]:
basic_df = pd.concat([basic_df, data_2])

In [21]:
data_3 = collecting_features(all_links, 3000, 4000)

Error get link=https://auto.ru/cars/used/sale/mitsubishi/galant/1105143145-c892091d/, 200
Downloaded from line: 3100 counts at the current cycle 100
Downloaded from line: 3200 counts at the current cycle 200
Error get link=https://auto.ru/cars/used/sale/mitsubishi/carisma/1103043432-7fe216bb/, 200
Downloaded from line: 3300 counts at the current cycle 300
Downloaded from line: 3400 counts at the current cycle 400
Downloaded from line: 3500 counts at the current cycle 500
Error get link=https://auto.ru/cars/used/sale/mitsubishi/carisma/1101461701-bc78c558/, 200
Downloaded from line: 3600 counts at the current cycle 600
Downloaded from line: 3700 counts at the current cycle 700
Error get link=https://auto.ru/cars/used/sale/volkswagen/touareg/1105328044-f661f279/, 200
Downloaded from line: 3800 counts at the current cycle 800
Downloaded from line: 3900 counts at the current cycle 900
Error get link=https://auto.ru/cars/used/sale/volkswagen/tiguan/1105326602-0e618ed9/, 200
Downloaded from line: 4000 counts at the current cycle 1000

In [22]:
data_3.to_csv('data_3.csv', index=False)

In [38]:
basic_df = pd.concat([basic_df, data_3])

In [25]:
data_4 = collecting_features(all_links, 4000, 8000)
data_4.to_csv('data_4.csv', index=False)

Downloaded from line: 4100 counts at the current cycle 100
Downloaded from line: 4200 counts at the current cycle 200
Downloaded from line: 4300 counts at the current cycle 300
Downloaded from line: 4400 counts at the current cycle 400
Downloaded from line: 4500 counts at the current cycle 500
Downloaded from line: 4600 counts at the current cycle 600
Downloaded from line: 4700 counts at the current cycle 700
Downloaded from line: 4800 counts at the current cycle 800
Downloaded from line: 4900 counts at the current cycle 900
Downloaded from line: 5000 counts at the current cycle 1000
Downloaded from line: 5100 counts at the current cycle 1100
Downloaded from line: 5200 counts at the current cycle 1200
Downloaded from line: 5300 counts at the current cycle 1300
Downloaded from line: 5400 counts at the current cycle 1400
Error get link=https://auto.ru/cars/used/sale/volkswagen/polo/1105237518-c1b416fc/, 200
Downloaded from line: 5500 counts at the current cycle 1500
Downloaded from line: 5600 counts at the current cycle 1600
Downloaded from line: 5700 counts at the current cycle 1700
Downloaded from line: 5800 counts at the current cycle 1800
Downloaded from line: 5900 counts at the current cycle 1900
Downloaded from line: 6000 counts at the current cycle 2000
Downloaded from line: 6100 counts at the current cycle 2100
Downloaded from line: 6200 counts at the current cycle 2200
Downloaded from line: 6300 counts at the current cycle 2300
Downloaded from line: 6400 counts at the current cycle 2400
Downloaded from line: 6500 counts at the current cycle 2500
Downloaded from line: 6600 counts at the current cycle 2600
Downloaded from line: 6700 counts at the current cycle 2700
Error get link=https://auto.ru/cars/used/sale/volkswagen/polo/1105311247-b4d81614/, 200
Downloaded from line: 6800 counts at the current cycle 2800
Error get link=https://auto.ru/cars/used/sale/volkswagen/passat/1086264362-dc44fd02/, 200
Downloaded from line: 6900 counts at the current cycle 2900
Downloaded from line: 7000 counts at the current cycle 3000
Downloaded from line: 7100 counts at the current cycle 3100
Downloaded from line: 7200 counts at the current cycle 3200
Downloaded from line: 7300 counts at the current cycle 3300
Error get link=https://auto.ru/cars/used/sale/volkswagen/caravelle/1105171518-cb617768/, 200
Downloaded from line: 7400 counts at the current cycle 3400
Downloaded from line: 7500 counts at the current cycle 3500
Downloaded from line: 7600 counts at the current cycle 3600
Downloaded from line: 7700 counts at the current cycle 3700
Downloaded from line: 7800 counts at the current cycle 3800
Downloaded from line: 7900 counts at the current cycle 3900
Error get link=https://auto.ru/cars/used/sale/skoda/octavia/1105328813-f7e3073b/, 200
Downloaded from line: 8000 counts at the current cycle 4000

In [39]:
basic_df = pd.concat([basic_df, data_4])

In [27]:
data_5 = collecting_features(all_links, 8000, 13000)
data_5.to_csv('data_5.csv', index=False)

Downloaded from line: 8100 counts at the current cycle 100
Downloaded from line: 8200 counts at the current cycle 200
Downloaded from line: 8300 counts at the current cycle 300
Downloaded from line: 8400 counts at the current cycle 400
Downloaded from line: 8500 counts at the current cycle 500
Downloaded from line: 8600 counts at the current cycle 600
Downloaded from line: 8700 counts at the current cycle 700
Error get link=https://auto.ru/cars/used/sale/skoda/rapid/1105053165-27e018d5/, 200
Downloaded from line: 8800 counts at the current cycle 800
Downloaded from line: 8900 counts at the current cycle 900
Error get link=https://auto.ru/cars/used/sale/skoda/octavia/1105268215-0294cb64/, 503
Downloaded from line: 9000 counts at the current cycle 1000
Downloaded from line: 9100 counts at the current cycle 1100
Downloaded from line: 9200 counts at the current cycle 1200
Downloaded from line: 9300 counts at the current cycle 1300
Downloaded from line: 9400 counts at the current cycle 1400
Error get link=https://auto.ru/cars/used/sale/skoda/karoq/1104984545-0cb9a121/, 200
Downloaded from line: 9500 counts at the current cycle 1500
Downloaded from line: 9600 counts at the current cycle 1600
Downloaded from line: 9700 counts at the current cycle 1700
Downloaded from line: 9800 counts at the current cycle 1800
Error get link=https://auto.ru/cars/used/sale/skoda/octavia/1104949072-d926f5d9/, 200
Error get link=https://auto.ru/cars/used/sale/skoda/fabia/1096464370-d453307d/, 200
Downloaded from line: 9900 counts at the current cycle 1900
Downloaded from line: 10000 counts at the current cycle 2000
Downloaded from line: 10100 counts at the current cycle 2100
Downloaded from line: 10200 counts at the current cycle 2200
Downloaded from line: 10300 counts at the current cycle 2300
Downloaded from line: 10400 counts at the current cycle 2400
Downloaded from line: 10500 counts at the current cycle 2500
Downloaded from line: 10600 counts at the current cycle 2600
Downloaded from line: 10700 counts at the current cycle 2700
Error get link=https://auto.ru/cars/used/sale/bmw/x6/1105021835-5cdfa18a/, 503
Downloaded from line: 10800 counts at the current cycle 2800
Downloaded from line: 10900 counts at the current cycle 2900
Downloaded from line: 11000 counts at the current cycle 3000
Downloaded from line: 11100 counts at the current cycle 3100
Downloaded from line: 11200 counts at the current cycle 3200
Downloaded from line: 11300 counts at the current cycle 3300
Downloaded from line: 11400 counts at the current cycle 3400
Downloaded from line: 11500 counts at the current cycle 3500
Downloaded from line: 11600 counts at the current cycle 3600
Downloaded from line: 11700 counts at the current cycle 3700
Downloaded from line: 11800 counts at the current cycle 3800
Downloaded from line: 11900 counts at the current cycle 3900
Error get link=https://auto.ru/cars/used/sale/bmw/5er/1104626269-aac1f536/, 502
Error get link=https://auto.ru/cars/used/sale/bmw/x3/1104669007-1b8dc2cc/, 502
Downloaded from line: 12000 counts at the current cycle 4000
Downloaded from line: 12100 counts at the current cycle 4100
Error get link=https://auto.ru/cars/used/sale/bmw/x3/1104240832-2f13885b/, 502
Downloaded from line: 12200 counts at the current cycle 4200
Downloaded from line: 12300 counts at the current cycle 4300
Error get link=https://auto.ru/cars/used/sale/bmw/3er/1105298818-651a9783/, 502
Downloaded from line: 12400 counts at the current cycle 4400
Error get link=https://auto.ru/cars/used/sale/bmw/x5_m/1105298338-fec8f08d/, 200
Downloaded from line: 12500 counts at the current cycle 4500
Error get link=https://auto.ru/cars/used/sale/bmw/x3/1105234930-5e948952/, 503
Error get link=https://auto.ru/cars/used/sale/bmw/3er/1101150000-80a3f533/, 599
Downloaded from line: 12600 counts at the current cycle 4600
Downloaded from line: 12700 counts at the current cycle 4700
Error get link=https://auto.ru/cars/used/sale/bmw/5er/1105226137-28a78a2e/, 502
Downloaded from line: 12800 counts at the current cycle 4800
Downloaded from line: 12900 counts at the current cycle 4900
Error get link=https://auto.ru/cars/used/sale/bmw/3er/1105184797-f221fb3e/, 502
Downloaded from line: 13000 counts at the current cycle 5000

In [40]:
basic_df = pd.concat([basic_df, data_5])

In [28]:
data_6 = collecting_features(all_links, 13000, 20000)
data_6.to_csv('data_6.csv', index=False)

Downloaded from line: 13100 counts at the current cycle 100
Downloaded from line: 13200 counts at the current cycle 200
Downloaded from line: 13300 counts at the current cycle 300
Downloaded from line: 13400 counts at the current cycle 400
Downloaded from line: 13500 counts at the current cycle 500
Error get link=https://auto.ru/cars/used/sale/bmw/5er/1094795740-1048c0fd/, 599
Downloaded from line: 13600 counts at the current cycle 600
Error get link=https://auto.ru/cars/used/sale/bmw/x5/1105169199-214cf2f1/, 200
Downloaded from line: 13700 counts at the current cycle 700
Downloaded from line: 13800 counts at the current cycle 800
Downloaded from line: 13900 counts at the current cycle 900
Downloaded from line: 14000 counts at the current cycle 1000
Downloaded from line: 14100 counts at the current cycle 1100
Downloaded from line: 14200 counts at the current cycle 1200
Downloaded from line: 14300 counts at the current cycle 1300
Downloaded from line: 14400 counts at the current cycle 1400
Downloaded from line: 14500 counts at the current cycle 1500
Downloaded from line: 14600 counts at the current cycle 1600
Downloaded from line: 14700 counts at the current cycle 1700
Downloaded from line: 14800 counts at the current cycle 1800
Downloaded from line: 14900 counts at the current cycle 1900
Downloaded from line: 15000 counts at the current cycle 2000
Downloaded from line: 15100 counts at the current cycle 2100
Downloaded from line: 15200 counts at the current cycle 2200
Downloaded from line: 15300 counts at the current cycle 2300
Downloaded from line: 15400 counts at the current cycle 2400
Downloaded from line: 15500 counts at the current cycle 2500
Downloaded from line: 15600 counts at the current cycle 2600
Downloaded from line: 15700 counts at the current cycle 2700
Error get link=https://auto.ru/cars/used/sale/audi/q7/1104902328-11078536/, 200
Downloaded from line: 15800 counts at the current cycle 2800
Downloaded from line: 15900 counts at the current cycle 2900
Downloaded from line: 16000 counts at the current cycle 3000
Downloaded from line: 16100 counts at the current cycle 3100
Downloaded from line: 16200 counts at the current cycle 3200
Downloaded from line: 16300 counts at the current cycle 3300
Downloaded from line: 16400 counts at the current cycle 3400
Downloaded from line: 16500 counts at the current cycle 3500
Downloaded from line: 16600 counts at the current cycle 3600
Downloaded from line: 16700 counts at the current cycle 3700
Downloaded from line: 16800 counts at the current cycle 3800
Downloaded from line: 16900 counts at the current cycle 3900
Downloaded from line: 17000 counts at the current cycle 4000
Downloaded from line: 17100 counts at the current cycle 4100
Downloaded from line: 17200 counts at the current cycle 4200
Downloaded from line: 17300 counts at the current cycle 4300
Downloaded from line: 17400 counts at the current cycle 4400
Downloaded from line: 17500 counts at the current cycle 4500
Downloaded from line: 17600 counts at the current cycle 4600
Downloaded from line: 17700 counts at the current cycle 4700
Downloaded from line: 17800 counts at the current cycle 4800
Downloaded from line: 17900 counts at the current cycle 4900
Downloaded from line: 18000 counts at the current cycle 5000
Downloaded from line: 18100 counts at the current cycle 5100
Downloaded from line: 18200 counts at the current cycle 5200
Downloaded from line: 18300 counts at the current cycle 5300
Downloaded from line: 18400 counts at the current cycle 5400
Downloaded from line: 18500 counts at the current cycle 5500
Downloaded from line: 18600 counts at the current cycle 5600
Downloaded from line: 18700 counts at the current cycle 5700
Downloaded from line: 18800 counts at the current cycle 5800
Downloaded from line: 18900 counts at the current cycle 5900
Downloaded from line: 19000 counts at the current cycle 6000
Downloaded from line: 19100 counts at the current cycle 6100
Downloaded from line: 19200 counts at the current cycle 6200
Downloaded from line: 19300 counts at the current cycle 6300
Downloaded from line: 19400 counts at the current cycle 6400
Downloaded from line: 19500 counts at the current cycle 6500
Downloaded from line: 19600 counts at the current cycle 6600
Downloaded from line: 19700 counts at the current cycle 6700
Downloaded from line: 19800 counts at the current cycle 6800
Error get link=https://auto.ru/cars/used/sale/nissan/murano/1105044168-f185a884/, 200
Downloaded from line: 19900 counts at the current cycle 6900
Downloaded from line: 20000 counts at the current cycle 7000

In [41]:
basic_df = pd.concat([basic_df, data_6])

In [29]:
data_7 = collecting_features(all_links, 20000, 26000)
data_7.to_csv('data_7.csv', index=False)

Downloaded from line: 20100 counts at the current cycle 100
Downloaded from line: 20200 counts at the current cycle 200
Downloaded from line: 20300 counts at the current cycle 300
Downloaded from line: 20400 counts at the current cycle 400
Downloaded from line: 20500 counts at the current cycle 500
Downloaded from line: 20600 counts at the current cycle 600
Downloaded from line: 20700 counts at the current cycle 700
Downloaded from line: 20800 counts at the current cycle 800
Downloaded from line: 20900 counts at the current cycle 900
Downloaded from line: 21000 counts at the current cycle 1000
Downloaded from line: 21100 counts at the current cycle 1100
Downloaded from line: 21200 counts at the current cycle 1200
Downloaded from line: 21300 counts at the current cycle 1300
Downloaded from line: 21400 counts at the current cycle 1400
Downloaded from line: 21500 counts at the current cycle 1500
Downloaded from line: 21600 counts at the current cycle 1600
Error get link=https://auto.ru/cars/used/sale/mercedes/m_klasse/1104772436-fd751777/, 200
Downloaded from line: 21700 counts at the current cycle 1700
Downloaded from line: 21800 counts at the current cycle 1800
Downloaded from line: 21900 counts at the current cycle 1900
Downloaded from line: 22000 counts at the current cycle 2000
Downloaded from line: 22100 counts at the current cycle 2100
Downloaded from line: 22200 counts at the current cycle 2200
Downloaded from line: 22300 counts at the current cycle 2300
Downloaded from line: 22400 counts at the current cycle 2400
Downloaded from line: 22500 counts at the current cycle 2500
Downloaded from line: 22600 counts at the current cycle 2600
Downloaded from line: 22700 counts at the current cycle 2700
Downloaded from line: 22800 counts at the current cycle 2800
Downloaded from line: 22900 counts at the current cycle 2900
Downloaded from line: 23000 counts at the current cycle 3000
Error get link=https://auto.ru/cars/used/sale/mercedes/v_klasse/1105315766-9bc676d5/, 200
Downloaded from line: 23100 counts at the current cycle 3100
Error get link=https://auto.ru/cars/used/sale/mercedes/gl_klasse/1105313076-0b342b3c/, 200
Downloaded from line: 23200 counts at the current cycle 3200
Downloaded from line: 23300 counts at the current cycle 3300
Downloaded from line: 23400 counts at the current cycle 3400
Downloaded from line: 23500 counts at the current cycle 3500
Downloaded from line: 23600 counts at the current cycle 3600
Downloaded from line: 23700 counts at the current cycle 3700
Downloaded from line: 23800 counts at the current cycle 3800
Downloaded from line: 23900 counts at the current cycle 3900
Downloaded from line: 24000 counts at the current cycle 4000
Downloaded from line: 24100 counts at the current cycle 4100
Downloaded from line: 24200 counts at the current cycle 4200
Downloaded from line: 24300 counts at the current cycle 4300
Error get link=https://auto.ru/cars/used/sale/mercedes/s_klasse/1105146953-cfc50ea2/, 200
Downloaded from line: 24400 counts at the current cycle 4400
Downloaded from line: 24500 counts at the current cycle 4500
Downloaded from line: 24600 counts at the current cycle 4600
Downloaded from line: 24700 counts at the current cycle 4700
Downloaded from line: 24800 counts at the current cycle 4800
Downloaded from line: 24900 counts at the current cycle 4900
Downloaded from line: 25000 counts at the current cycle 5000
Downloaded from line: 25100 counts at the current cycle 5100
Downloaded from line: 25200 counts at the current cycle 5200
Downloaded from line: 25300 counts at the current cycle 5300
Downloaded from line: 25400 counts at the current cycle 5400
Downloaded from line: 25500 counts at the current cycle 5500
Downloaded from line: 25600 counts at the current cycle 5600
Downloaded from line: 25700 counts at the current cycle 5700
Downloaded from line: 25800 counts at the current cycle 5800
Downloaded from line: 25900 counts at the current cycle 5900
Downloaded from line: 26000 counts at the current cycle 6000

In [42]:
basic_df = pd.concat([basic_df, data_7])

In [30]:
data_8 = collecting_features(all_links, 26000, 31334)
data_8.to_csv('data_8.csv', index=False)

Downloaded from line: 26100 counts at the current cycle 100
Downloaded from line: 26200 counts at the current cycle 200
Downloaded from line: 26300 counts at the current cycle 300
Downloaded from line: 26400 counts at the current cycle 400
Downloaded from line: 26500 counts at the current cycle 500
Downloaded from line: 26600 counts at the current cycle 600
Downloaded from line: 26700 counts at the current cycle 700
Downloaded from line: 26800 counts at the current cycle 800
Downloaded from line: 26900 counts at the current cycle 900
Downloaded from line: 27000 counts at the current cycle 1000
Downloaded from line: 27100 counts at the current cycle 1100
Error get link=https://auto.ru/cars/used/sale/toyota/rav_4/1105303558-a2017d6a/, 502
Error get link=https://auto.ru/cars/used/sale/toyota/camry/1105106437-61f27bad/, 502
Downloaded from line: 27200 counts at the current cycle 1200
Error get link=https://auto.ru/cars/used/sale/toyota/land_cruiser/1105272525-095a1f27/, 502
Error get link=https://auto.ru/cars/used/sale/toyota/land_cruiser_prado/1105272978-e3f66587/, 502
Downloaded from line: 27300 counts at the current cycle 1300
Downloaded from line: 27400 counts at the current cycle 1400
Error get link=https://auto.ru/cars/used/sale/toyota/tundra/1105197954-828b10ad/, 502
Error get link=https://auto.ru/cars/used/sale/toyota/camry/1105160682-7900d811/, 502
Error get link=https://auto.ru/cars/used/sale/toyota/rav_4/1105187520-e955e843/, 502
Downloaded from line: 27500 counts at the current cycle 1500
Error get link=https://auto.ru/cars/used/sale/toyota/land_cruiser_prado/1105255778-1feb234f/, 502
Error get link=https://auto.ru/cars/used/sale/toyota/alphard/1105162341-b81f3d7a/, 502
Downloaded from line: 27600 counts at the current cycle 1600
Downloaded from line: 27700 counts at the current cycle 1700
Downloaded from line: 27800 counts at the current cycle 1800
Downloaded from line: 27900 counts at the current cycle 1900
Downloaded from line: 28000 counts at the current cycle 2000
Downloaded from line: 28100 counts at the current cycle 2100
Downloaded from line: 28200 counts at the current cycle 2200
Downloaded from line: 28300 counts at the current cycle 2300
Downloaded from line: 28400 counts at the current cycle 2400
Downloaded from line: 28500 counts at the current cycle 2500
Downloaded from line: 28600 counts at the current cycle 2600
Downloaded from line: 28700 counts at the current cycle 2700
Downloaded from line: 28800 counts at the current cycle 2800
Downloaded from line: 28900 counts at the current cycle 2900
Downloaded from line: 29000 counts at the current cycle 3000
Downloaded from line: 29100 counts at the current cycle 3100
Downloaded from line: 29200 counts at the current cycle 3200
Downloaded from line: 29300 counts at the current cycle 3300
Downloaded from line: 29400 counts at the current cycle 3400
Downloaded from line: 29500 counts at the current cycle 3500
Downloaded from line: 29600 counts at the current cycle 3600
Error get link=https://auto.ru/cars/used/sale/toyota/rav_4/1105150265-2c766158/, 200
Downloaded from line: 29700 counts at the current cycle 3700
Error get link=https://auto.ru/cars/used/sale/toyota/rav_4/1104857674-075a0d62/, 502
Error get link=https://auto.ru/cars/used/sale/toyota/corolla/1104108670-24371f12/, 502
Downloaded from line: 29800 counts at the current cycle 3800
Downloaded from line: 29900 counts at the current cycle 3900
Downloaded from line: 30000 counts at the current cycle 4000
Downloaded from line: 30100 counts at the current cycle 4100
Downloaded from line: 30200 counts at the current cycle 4200
Downloaded from line: 30300 counts at the current cycle 4300
Downloaded from line: 30400 counts at the current cycle 4400
Downloaded from line: 30500 counts at the current cycle 4500
Error get link=https://auto.ru/cars/used/sale/lexus/rx/1105263984-a2cea687/, 200
Downloaded from line: 30600 counts at the current cycle 4600
Downloaded from line: 30700 counts at the current cycle 4700
Downloaded from line: 30800 counts at the current cycle 4800
Error get link=https://auto.ru/cars/used/sale/lexus/nx/1105255610-f4a5d5a9/, 200
Downloaded from line: 30900 counts at the current cycle 4900
Downloaded from line: 31000 counts at the current cycle 5000
Downloaded from line: 31100 counts at the current cycle 5100
Downloaded from line: 31200 counts at the current cycle 5200
Downloaded from line: 31300 counts at the current cycle 5300

In [43]:
basic_df = pd.concat([basic_df, data_8])

In [32]:
# Запишем линки с выданными ошибками
error_list = ['https://auto.ru/cars/used/sale/volkswagen/polo/1105237518-c1b416fc/',
              'https://auto.ru/cars/used/sale/volkswagen/polo/1105311247-b4d81614/',
              'https://auto.ru/cars/used/sale/volkswagen/passat/1086264362-dc44fd02/',
              'https://auto.ru/cars/used/sale/volkswagen/caravelle/1105171518-cb617768/',
              'https://auto.ru/cars/used/sale/skoda/octavia/1105328813-f7e3073b/',
              'https://auto.ru/cars/used/sale/skoda/rapid/1105053165-27e018d5/',
              'https://auto.ru/cars/used/sale/skoda/octavia/1105268215-0294cb64/',
              'https://auto.ru/cars/used/sale/skoda/fabia/1096464370-d453307d/',
              'https://auto.ru/cars/used/sale/bmw/x6/1105021835-5cdfa18a/',
              'https://auto.ru/cars/used/sale/bmw/x3/1104240832-2f13885b/',
              'https://auto.ru/cars/used/sale/bmw/3er/1105298818-651a9783',
              'https://auto.ru/cars/used/sale/bmw/x5_m/1105298338-fec8f08d/',
              'https//auto.ru/cars/used/sale/bmw/x3/1105234930-5e948952/',
              'https://auto.ru/cars/used/sale/bmw/3er/1101150000-80a3f533/',
              'https://auto.ru/cars/used/sale/bmw/5er/1105226137-28a78a2e/',
              'https://auto.ru/cars/used/sale/bmw/3er/1105184797-f221fb3e/',
              'https://auto.ru/cars/used/sale/bmw/5er/1094795740-1048c0fd/',
              'https://auto.ru/cars/used/sale/bmw/x5/1105169199-214cf2f1/',
              'https://auto.ru/cars/used/sale/audi/q7/1104902328-11078536/',
              'https://auto.ru/cars/used/sale/nissan/murano/1105044168-f185a884/',
              'https://auto.ru/cars/used/sale/mercedes/m_klasse/1104772436-fd751777/',
              'https://auto.ru/cars/used/sale/mercedes/v_klasse/1105315766-9bc676d5/',
              'https://auto.ru/cars/used/sale/mercedes/gl_klasse/1105313076-0b342b3c/',
              'https://auto.ru/cars/used/sale/mercedes/s_klasse/1105146953-cfc50ea2/',
              'https://auto.ru/cars/used/sale/toyota/rav_4/1105303558-a2017d6a/',
              'https://auto.ru/cars/used/sale/toyota/camry/1105106437-61f27bad/',
              'https://auto.ru/cars/used/sale/toyota/land_cruiser/1105272525-095a1f27/',
              'https://auto.ru/cars/used/sale/toyota/land_cruiser_prado/1105272978-e3f66587/',
              'https://auto.ru/cars/used/sale/toyota/tundra/1105197954-828b10ad/',
              'https://auto.ru/cars/used/sale/toyota/camry/1105160682-7900d811/',
              'https://auto.ru/cars/used/sale/toyota/rav_4/1105187520-e955e843/',
              'https://auto.ru/cars/used/sale/toyota/land_cruiser_prado/1105255778-1feb234f/',
              'https://auto.ru/cars/used/sale/toyota/alphard/1105162341-b81f3d7a/',
              'https://auto.ru/cars/used/sale/toyota/rav_4/1105150265-2c766158/',
              'https://auto.ru/cars/used/sale/lexus/rx/1105263984-a2cea687/',
              'https://auto.ru/cars/used/sale/lexus/nx/1105255610-f4a5d5a9/'
]

In [ ]:
len(error_list)

In [34]:
data_9 = collecting_features(error_list, 0, len(error_list))
data_9.to_csv('data_9.csv', index=False)

Error get link=https://auto.ru/cars/used/sale/volkswagen/polo/1105237518-c1b416fc/, 200
Error get link=https://auto.ru/cars/used/sale/volkswagen/polo/1105311247-b4d81614/, 200
Error get link=https://auto.ru/cars/used/sale/volkswagen/passat/1086264362-dc44fd02/, 200
Error get link=https://auto.ru/cars/used/sale/skoda/octavia/1105328813-f7e3073b/, 200
Error get link=https://auto.ru/cars/used/sale/skoda/rapid/1105053165-27e018d5/, 200
Error get link=https://auto.ru/cars/used/sale/bmw/x5_m/1105298338-fec8f08d/, 200
Error get link=https//auto.ru/cars/used/sale/bmw/x3/1105234930-5e948952/, 200
Error get link=https//auto.ru/cars/used/sale/bmw/x3/1105234930-5e948952/, 200
Error get link=https://auto.ru/cars/used/sale/bmw/x5/1105169199-214cf2f1/, 200
Error get link=https://auto.ru/cars/used/sale/audi/q7/1104902328-11078536/, 200
Error get link=https://auto.ru/cars/used/sale/nissan/murano/1105044168-f185a884/, 200
Error get link=https://auto.ru/cars/used/sale/mercedes/v_klasse/1105315766-9bc676d5/, 200
Error get link=https://auto.ru/cars/used/sale/mercedes/gl_klasse/1105313076-0b342b3c/, 200
Error get link=https://auto.ru/cars/used/sale/mercedes/s_klasse/1105146953-cfc50ea2/, 200
Error get link=https://auto.ru/cars/used/sale/toyota/rav_4/1105150265-2c766158/, 200
Error get link=https://auto.ru/cars/used/sale/lexus/rx/1105263984-a2cea687/, 200
Error get link=https://auto.ru/cars/used/sale/lexus/nx/1105255610-f4a5d5a9/, 200

In [44]:
basic_df = pd.concat([basic_df, data_9])

In [57]:
basic_df.to_csv('basic_df.csv')

## Очистка данных

In [449]:
new_df = pd.read_csv('basic_df.csv')

In [450]:
new_df = new_df.drop('Unnamed: 0', axis=1)

In [451]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30369 entries, 0 to 30368
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bodyType              30314 non-null  object
 1   brand                 30314 non-null  object
 2   color                 30314 non-null  object
 3   complectation_dict    30369 non-null  object
 4   description           30314 non-null  object
 5   engineDisplacement    30314 non-null  object
 6   enginePower           30314 non-null  object
 7   equipment_dict        30314 non-null  object
 8   fuelType              30314 non-null  object
 9   mileage               30314 non-null  object
 10  modelDate             30314 non-null  float64
 11  model_info            30314 non-null  object
 12  model_name            30314 non-null  object
 13  name                  30347 non-null  object
 14  numberOfDoors         30314 non-null  float64
 15  parsing_unixtime      30369 non-null  int64
 16  productionDate        30314 non-null  float64
 17  sell_id               30314 non-null  float64
 18  super_gen             30347 non-null  object
 19  vehicleConfiguration  30314 non-null  object
 20  vehicleTransmission   30314 non-null  object
 21  vendor                29122 non-null  object
 22  Владельцы             30312 non-null  object
 23  Владение              9645 non-null   object
 24  ПТС                   30312 non-null  object
 25  Привод                30314 non-null  object
 26  Руль                  30314 non-null  object
 27  Состояние             30311 non-null  object
 28  Таможня               30311 non-null  object
 29  advert_date           30314 non-null  object
 30  price                 28165 non-null  float64
dtypes: float64(5), int64(1), object(25)
memory usage: 7.2+ MB

In [452]:
# Посмотрим на количество пропусков в sell_id
new_df['sell_id'].isna().value_counts()

False    30314
True        55
Name: sell_id, dtype: int64

In [453]:
new_df = new_df.dropna(subset=['sell_id'], axis=0)

In [454]:
# Проверим, что удалились пропуски
new_df['sell_id'].isna().value_counts()

False    30314
Name: sell_id, dtype: int64

In [455]:
# Удалим строки без указанной цены
new_df = new_df.dropna(subset=['price'], axis=0)

In [456]:
# Проверим
new_df.price.isna().value_counts()

False    28165
Name: price, dtype: int64

In [457]:
# Удалим дупликаты
new_df = new_df.drop_duplicates(subset=['sell_id'])

In [458]:
new_df.shape

(25031, 31)

In [459]:
new_df.price.isna().value_counts()

False    25031
Name: price, dtype: int64

В тестовой выборке в признаке пробег указаны числовые данные. Необходимо преобразовать признак в обучающей выборке

In [502]:
test = new_df.copy()

In [503]:
# В признаке пробега присутствуют пропуски
test.mileage.isna().value_counts()

False    25031
Name: mileage, dtype: int64

In [504]:
# Посмотрим на распределение
test.mileage.value_counts()

200 000 км    277
300 000 км    243
250 000 км    242
180 000 км    221
150 000 км    199
             ...
190 032 км      1
128 440 км      1
147 679 км      1
35 670 км       1
156 891 км      1
Name: mileage, Length: 10239, dtype: int64

In [505]:
# Заполним наиболее часто встречающимся значением
test.mileage.fillna('200 000 км', inplace=True)

In [506]:
test.mileage.isna().value_counts()

False    25031
Name: mileage, dtype: int64

In [507]:
# Избавляемся от км
test.mileage = test.mileage.apply(lambda x: x[:-3])

In [508]:
test.mileage.value_counts()

200 000    277
300 000    243
250 000    242
180 000    221
150 000    199
          ...
95 376       1
900          1
131 838      1
101 164      1
152 840      1
Name: mileage, Length: 10239, dtype: int64

In [509]:
# Преобразуем в целые числа
test['mileage'] = test['mileage'].apply(lambda x: x.split(' ') if type(x) == str  else x)
test['mileage'] = test['mileage'].apply(lambda x: x[0]+x[1] if len(x) > 1 else x)
test['mileage'] = test['mileage'].apply(lambda x: x.strip('[').strip(']') if type(x) == str else x)
test['mileage'] = test['mileage'].apply(lambda x: int(x) if type(x) == str else int(x[0]))

In [510]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25031 entries, 0 to 30365
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bodyType              25031 non-null  object
 1   brand                 25031 non-null  object
 2   color                 25031 non-null  object
 3   complectation_dict    25031 non-null  object
 4   description           25031 non-null  object
 5   engineDisplacement    25031 non-null  object
 6   enginePower           25031 non-null  object
 7   equipment_dict        25031 non-null  object
 8   fuelType              25031 non-null  object
 9   mileage               25031 non-null  int64
 10  modelDate             25031 non-null  float64
 11  model_info            25031 non-null  object
 12  model_name            25031 non-null  object
 13  name                  25031 non-null  object
 14  numberOfDoors         25031 non-null  float64
 15  parsing_unixtime      25031 non-null  int64
 16  productionDate        25031 non-null  float64
 17  sell_id               25031 non-null  float64
 18  super_gen             25031 non-null  object
 19  vehicleConfiguration  25031 non-null  object
 20  vehicleTransmission   25031 non-null  object
 21  vendor                24997 non-null  object
 22  Владельцы             25030 non-null  object
 23  Владение              8014 non-null   object
 24  ПТС                   25030 non-null  object
 25  Привод                25031 non-null  object
 26  Руль                  25031 non-null  object
 27  Состояние             25029 non-null  object
 28  Таможня               25028 non-null  object
 29  advert_date           25031 non-null  object
 30  price                 25031 non-null  float64
dtypes: float64(5), int64(2), object(24)
memory usage: 6.6+ MB

После парсинга ключевой задачей являлось собрать датасе, в котором нет пропусков в цене и sell_id. Важно соответствие типов данных. Как поступать с пропусками в других колонках определимся далее

In [511]:
test.to_csv('auto_df.csv')